.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  flex: 0 1 auto;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chat-area {
  flex: 1 1 auto; /* Chat area takes up the remaining space */
  overflow-y: auto; /* Adds scroll to the chat area */
}

.input-area {
  flex: 0 1 auto; /* Input area size is content-based */
}
